<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>tutorial-webapp-base</display-name>


	<servlet>
		<servlet-name>qualcosa</servlet-name>
		<servlet-class>it.objectmethod.testweb.servlets.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>qualcosa</servlet-name>
		<url-pattern>/beinomi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>unaltracosa</servlet-name>
		<servlet-class>it.objectmethod.testweb.servlets.HelloWorldForwardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unaltracosa</servlet-name>
		<url-pattern>/nomipiubelli</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>troppecose</servlet-name>
		<servlet-class>it.objectmethod.testweb.servlets.HelloWorldSecondaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>troppecose</servlet-name>
		<url-pattern>/nonhoidee</url-pattern>
	</servlet-mapping>
</web-app>